@tailwind base;
@tailwind components;
@tailwind utilities;
.home-location{
    width:100%;
}
.home-sidebar{
    width:100%;
    margin-top:4px;
}
.map-box{
    position:relative;
}
.map-box-inside{
    width:100%;
    height:calc(100vh - 160px);
    position:absolute;
    background-color:rgba(0,0,0,0.3);
    top:0;

}
.map-box-data{
    background: rgba(0,0,0,0.2);
    backdrop-filter: blur(1px);
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5),-1px -1px 10px rgba(255,255,255,0.5);
    padding:10px;
    position:absolute;
}
@media screen and (min-width:768px){
    .home-location{
        width:75%;
    }
    .home-sidebar{
        width:25%;
        margin-top:0px;
        margin-left:4px;
    }
}